<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Utama</title>
</head>
<body>
    <h1>Halaman Utama</h1>

    {% if user.is_authenticated %}
        <h3>Data User Terbaru:</h3>
        <p>Username: {{ user.username }}</p>
        <p>Nama: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Lokasi: {{ user.location }}</p>
        <p>Status: {% if user.is_admin %}Admin{% else %}User Regular{% endif %}</p>
        <a href="{% url 'main:register' %}">Daftar User Baru</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Silakan login atau daftar untuk melanjutkan.</p>
        <a href="{% url 'main:register' %}">Daftar</a>
    {% endif %}
</body>
</html>
