<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register User</title>
    <style>
        .errorlist {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h2>Form Pendaftaran</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
